/*链家网 二手房列表页*/
/*第一部分头部*/
.header{
    height:50px;
    overflow: hidden;
    background-color: #00AF65;
}
.header .options{
    top:10px;
    text-align: center;
}
.header .options ul{
    margin-left:5px;
    color:#fff;
}
.header .options ul li{
    line-height: 1;
}
.header .options ul a{
    font-size:10px;
    font-weight: 100;
    color:#fff;
}
.header .row{
    height:100%;
}
.header .row>div:first-child{
    margin-top:10px;
}
/*第二部分搜索区*/
.search{
    margin-top:-5px;
    padding:10px 15px;
    background:#F4F4F4;
}
/*第三部分筛选区*/
.choice{
    margin:0px;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
}
.choice div{
    border-left:1px solid  #c5c5c5;
}
/*第四部分搜索结果列表区*/
.search-result{
    position:relative;
}
.search-result .media{
    padding:14px 11px;
    border-bottom:1px solid #c5c5c5;
    position:relative;
}
.search-result .media-heading{
    font-weight: bolder;
    margin-bottom: 0;
}
.search-result .media-body > p{
    margin:0;
    font-size:12px;
}
.search-result .price{
    position: absolute;
    color:#EB6744;
    right:5px;
    top:30px;
}